{% extends 'partials/base.html.twig' %}

{% set review_workflow = config.plugins['tecart-review-workflow'].enabled %}
{% set show_draft = (uri.query('mode') == 'draft') and page.header.draft.content %}
{% set content = (review_workflow and show_draft) ? page.header.draft.content|markdown : page.content %}

{% block content %}
	<div id="error">
		<div>
			<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<p>
				{{ content|raw }}
			</p>
		</div>
	</div>
{% endblock %}
